@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@theme {
  /* Colors */
  --color-poke-red: #e63950;
  --color-poke-blue: #4c7bd9;
  --color-poke-yellow: #ffc93c;
  --color-poke-shell: #15131a;
  --color-poke-screen: #f2efe3;
  --color-poke-static: #8b8678;

  /* Fonts */
  --font-body: 'Space Grotesk', sans-serif;
  --font-head: 'Pixelify Sans', sans-serif;
  --font-mono: 'VT323', monospace;
  --font-brand: 'Press Start 2P', system-ui;
}
:root {
  font-family: var(--font-body), sans-serif;
}
html,
body {
  min-height: 100%;
  background: var(--color-poke-screen);
  color: black;
  font-family: var(--font-body);
}
