@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* Colors */
  --color-primary: #E63950;     /* Poké red */
  --color-secondary: #4C7BD9;   /* Dex blue */
  --color-accent: #FFC93C;      /* Spark yellow */
  --color-background: #15131A;  /* Shell */
  --color-surface: #F2EFE3;     /* Screen */
  --color-neutral: #8B8678;     /* Static gray */

  /* Fonts */
  --font-body: "Space Grotesk", sans-serif;
  --font-head: "Pixelify Sans", sans-serif;
  --font-mono: "VT323", monospace;
  --font-brand: "Press Start 2P", system-ui;
}

:root {
  font-family: var(--font-body), sans-serif;
}

html,
body {
  min-height: 100%;
  background: var(--color-surface);
  color:black;
  font: var(--font-body);
}
